{% extends 'base.html.twig' %}

{% block title %}Teams Builder{% endblock %}

{% block body %}

    {% for team in teams %}
        <div class="w-50">
            <h2 class="bg-light p-2">{{ team.name }}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                    </tr>
                </thead>
                <tbody>
                    {% for people in team.peoples %}
                    <tr>
                        <td>{{ people.firstname }}</td>
                        <td>{{ people.lastname }}</td> 
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">Aucune personne dans cette équipe</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="w-50">
            <p>Aucune équipe encore créée</p> 
        </div>
    {% endfor %}

{% endblock %}
