<section class="w-25">
	{{ form_start(peopleform) }}
	<div class="p-3 bg-light">
		<p>Ajouter un membre :</p>
		{% for child in peopleform %}
			<div class="form-group">
				{{ form_widget(child, {'attr': {'class': 'form-control mb-3'}}) }}
			</div>
		{% endfor %}
		<button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
	</div>
	{{ form_end(peopleform) }}
</section>
