{% extends 'base.html.twig' %}

{% block title %}Edit Peoples{% endblock %}

{% block body %}
    <h1>Edit Peoples</h1>

    {{ include('peoples/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_peoples_index') }}">back to list</a>

    {{ include('peoples/_delete_form.html.twig') }}
{% endblock %}
