{% extends 'base.html.twig' %}

{% block title %}New Peoples{% endblock %}

{% block body %}
    <h1>Create new Peoples</h1>

    {{ include('peoples/_form.html.twig') }}

    <a href="{{ path('app_peoples_index') }}">back to list</a>
{% endblock %}
